body{
    margin: 0;
    font-family: 'Raleway', sans-serif;/*основной шрифт*/
    font-size: 14px;
    color: #6c7279;
    background-color: white;
    -webkit-font-smoothing: antialiased;/*СГЛАЖИВАНИЕ ЭКРАННЫХ ШРИФТОВ*/
}
*,
*:before,
*:after{
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}
p{
    margin: 0 0 10px;
}

/*Контейнер основной
==============*/
.container{
    width: 100%;
    max-width: 1200px;/* максимальная ширина контейнера минус внтуренние отступы по 15 сле и справа по 15, что бы страница была АДАПТИВНАЯ (1200-(15+15)=1170)*/
    margin: 0 auto;/*выровняли по центру*/
    padding: 0 15px;/*отступы изнутри по 15*/
    
}
/*Шапка
==============*/
.header{
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
/*НАЛОЖЕНИЕ СО СМЕЩЕНИЕМ*/
    z-index: 1000; 
    position: absolute;
}

.header.fixed {
    height: auto;
    position: fixed;
    background-color: #31354f;
}
.header.fixed .header_inner{
    padding: 15px 0;
    border-bottom: 0;
}

.header_inner{
    display: flex;
    /*пустое место между лого и меню*/
    justify-content: space-between;
    border-bottom: 2px solid #505268;
    padding: 35px 0;/*отсуп сверху и снизу по 35*/
    align-items: center;/*все объекты делаем по центру*/
}

.nav{
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
}

.nav_link{
    color: white;
    /*убираем подчеркивание ссылки*/
    text-decoration: none;
    opacity: .75;/*прозрачность*/
    transition: opacity 0.1s linear;
    margin-left: 50px;
}
.nav_link:first{
    margin-left: 0;
}
.nav_link:hover{
    /*добавляем подчеркивание ссылки при наведении*/
    
    opacity: 1;
}

/*ИНТРО ФОН ЗА ШАПКОЙ В ТОМ ЧИСЛЕ
=================================*/
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;
    background: url(img/intro.jpg) center no-repeat;
    background-size: cover;
    background-color: #31354f;
    padding-top: 100px;
    text-align: center;
}
.intro_iner{
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
}
.intro_title{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 65px;
    line-height: 1.1;
    text-transform: uppercase;
    margin: 0 0 30px;
}

.intro_subtitle{
    font-size: 22px;
    color: white;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 55px;
}

.btn{
    display: inline-block;
    vertical-align: top;
    padding: 14px 40px 14px 40px;
    border-radius: 2px;
    font-size: 13px;
    color: white;
    text-align: center;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    border: 0;
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    transition: .1s linear;/*ПЛАВНОЕ ИЗМЕНЕНИЕ ЦВЕТА*/
}
.btn--red{
    background-color: #e84545;
}

.btn--red:hover{
    background-color: #d01616;
}
.btn--long{
    min-width: 280px;
}
/*БЛОК ФИЧИ
==========================*/
.features{
		display: flex;
		flex-wrap: wrap;/*ЧТО БЫ ИКОНКИ ПЕРЕНОСИЛИСЬ НА НОВУЮ СТРОКУ АВТОМАТИЧЕСКИ*/
        margin-top: 25px;
}
.features_item{
    width: 33.33333%;
    text-align: center;
    padding: 0 40px;
    margin-bottom: 25px;
}
.features_icon{

    margin-bottom: 20px;
}
.features_title{
    font-size: 14px;
    text-transform: uppercase;
    color: black;
    margin-bottom: 15px;
}
.features_text{
    font-size: 14px;
    line-height: 1.5;
}


/*БЛОК WORKS*/
.works{
    display: flex;
    flex-wrap: wrap;
}
.works_item{
    width: 25%;
    height: 350px;
    position: relative;
    overflow: hidden;
/*    flex-direction: column;*/
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
.works_item:hover .works_content{
    opacity: 1;
}
.work_photo{
    min-width: 100%;
    position: absolute;

    z-index: 1;
/*СКРЫВАЕМ ВСЕ ЧТО БУДЕТ ВЫЛЕЗАТЬ ЗА ПРЕДЕЛЫ БЛОКА*/
    transform: translate3d(-50% -50% 0);
}

.works_content{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: rgba(232, 69, 69, .9);
    opacity: 0;
/*включаем плавность анимацию*/
    transition: opacity .2s linear; 
}
    
.works_title{
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 5px;
    
}
.works_text{
    color: white;
    text-align: center;
}

.team{
    margin: 100px 0 70px;
}
.team_inner{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.team_item{
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}
.team_photo{
    margin-bottom: 20px;
    display: block;
    max-width: 100%;
    height: auto;
}
.team_name{
    margin-bottom: 8px;
    font-size: 22px;
    color: black;
}
.team_prof{
    margin-bottom: 15px;
    font-size: 13px;
    color: #e84545;
    text-transform: uppercase;
}
.team_text{
    margin-bottom: 20px;
    font-size: 14px;
    color: #6c7279;
    line-height: 1.5px;
}

/*БЛОК SOCIAL
==========================*/
.social{
    display: flex;
}
.social--footer{
    justify-content: center;
}
.social_item{
    display: flex;
    margin-right: 4px;
    justify-content: center; /*центр по вертикали*/
    align-items: center;/*центр по горизонтали*/
    width: 40px;
    height: 40px;
    border: 1px solid #e8ecee;
    transition: background .1s linear;
    background-color: #fff;
}

.social_icon{
    fill: #c6cacc; /*ЗАЛИВКА svg*/
    display: block;
    height: 18px;
    transition: fill .1s linear;
}
.social--footer .social_icon{
    fill: #fff;
}

.social_item:hover{
    background-color: #e8ecee;
}
.social--footer .social_item {
    background: none;
    border-radius: 2px; 
    border: 2px solid #fff;
}

.social_item:hover .social_icon{
    fill: #000;
}

.social--footer .social_item:hover {
    background-color: #fff;
}

/*БЛОК reviews
==========================*/
.reviews{
    background-color: #53354a;
    overflow: hidden; /*Чтобы картинка не вылезала за пределы блока*/
}
/*убираем прыжки страницы при предагрузки слоев слайдера*/
.reviews_slider{
    height: 500px;
    overflow: hidden;
}

.reviews_item{
    display: flex;
    flex-wrap: wrap
}
.reviews_photo{
    width: 50%;
    height: 500px;
    position: relative;
/*Позиция относительно его исходного места*/
}
.reviews_img{
    position: absolute;
    /*адаптивная оцентровка картинки по центру*/
    top: 50%;
    height: 500px;
    transform: translateY(-50%);
    /*--------------*/
    right: 0;
    z-index: 1;
    
}
.slick-dots{
    width: 50%;
    position: absolute;
    margin: 0;
    padding: 0;
    list-style: none;
    bottom: 0;
    right: 0;
    z-index: 2;
}
.reviews_content{
/*Центруем текст по центру блока во вертикали*/
    height: 500px;
    overflow: hidden;
z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
}
.reviews_text{
    font-family: 'cardo', sans-serif;
    font-size: 36px;
    color: white;
    line-height: 1.2;
     
}
.reviews_autor{
    font-size: 13px;
    font-weight: 700;/*ЖИРНЫЙ ШРИФТ*/
    text-transform: uppercase;
    color: white;
    margin-top: 40px;
}

/*БЛОК DOWNLOAD
==========================*/
.download{
    margin: 90px 0;
    text-align: center;
}
.download_title{
    font-size: 28px;
    color: #2d3033;
    margin-bottom: 20px;

}
.download_text{
    font-size: 13px;
    font-weight: 700;
    color: #2d3033;
    margin-bottom: 40px;
    text-transform: uppercase;
}

/*БЛОК FOOTER
==========================*/
.footer{
;
    background-color: #3a3e64;
}
.footer_inner{
    display: flex;
    flex-wrap: wrap;
    padding: 70px 0
}
.footer_block{
    width: 33.33333%;
    text-align: center;
    padding: 0 15px;
}
.footer_title{
    font-size: 14px;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer_text{
    font-size: 14px;
    color: rgba(255, 255, 255, .5);
    line-height: 1.5;
}

.copyright{
    background-color: #313454;
    padding: 20px 0;
    text-align: center;
}
.copyrigth_text{
    font-size: 14px;
    line-height: 1.5;
    color: #808080;
}
.copyrigth_text span{
    color: white;
    font-weight: 300;
}

.burger{
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
    padding: 15px 0;
}

.burger_item{
    display: block;
    width: 30px;
    height: 3px;
    font-size: 0;
    background-color: #fff;
    position: relative;
}
.burger_item:before,
.burger_item:after{
    content: "";
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
}
.burger_item:before{
    width: 30px;
    top: -8px;
}
.burger_item:after{
    width: 30px;
    bottom: -8px;
}



/* медиа запросы для адаптации сайта под разные размеры*/

/* xl-размер (>=1200px) */
/* CSS для >=1200px */
 
/* lg-размер (<=1199px) */
@media (max-width: 1200px) {
  /* CSS для ширины от 992px до 1199px */
    .works_item{
    width: 50%;
    }
}
 
/* md-размер (<=991px) */
@media (max-width: 991px) {
  /* CSS для ширины от 768px до 991px */
    .nav{
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: right;
        background-color: #31354f;
        position: absolute;
        top: 100%;
        right: 0;
    }
    
    .nav.show{
        display: flex;
    }
    
    .nav_link{
        padding:  10px 15px;
    }
    
    
    
    .burger{
        display: block;
    }
    
    .intro_title{
        font-size: 40px;
    }
    .features_item{
    width: 50%;
}
    .team_item{
        width: 50%;
        text-align: center;
    }
    
    .team_photo{
        margin-left: auto;
        margin-right: auto;
    }
    .social{
        justify-content: center;
    }
    .reviews_photo{
        min-width: 100%;
    }
    .reviews_img{
          right: -15px;
    }
    .reviews_content{
        width: 100%;
        padding: 15px 0 15px 0;
    }

    .reviews_text{
        font-size: 20px;
    }
    .reviews_autor{
        font-size: 10px;
    }
    .download{
        margin: 40px 0;
    }
    .download_title{
        font-size: 20px;
    }
    download_text{
        font-size: 15px;
    }
}
/* sm-размер (<=768px) */
@media (max-width: 768px) { 
  /* CSS для ширины от 576px до 767px */
    .intro{
        height: auto;
        padding-top: 130px;
        padding-bottom: 30px;
    }
    .intro_title{
        font-size: 25px;
    }
    .intro_subtitle{
        font-size: 15px;
    }
    .team_item{
        width: 100%;
        text-align: center;
    }
        .footer_block{
        width: 100%;
        padding: 30px 15px;
    }
    .footer_inner{
        padding: 30px 0;
    }
    .team{
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
@media (max-width: 595px) { 
    .features{
        margin: 40px 0;
    }
    .works_item{
        width: 100%;
        height: 300px; 
    }
    .features_item{
        width: 100%;
    }
    .team{
        margin: 60px 30px;
    }

}









